<FilesMatch "^(package\.json|package-lock\.json|composer\.json|composer\.lock|phpinfo\.php|.*\.env)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Content-Security-Policy "frame-ancestors 'self';"
</IfModule>

RedirectMatch 404 /\.git
RewriteEngine On

# Block direct access to assets/ and css/ folders unless coming from your domains
RewriteCond %{REQUEST_URI} ^/(ajax|css|images|js|vendor|login|assets|user)/ [NC,OR]
RewriteCond %{REQUEST_URI} \.js$ [NC]
#RewriteCond %{REQUEST_URI} ^/(assets|css|html|js)/.*\.js$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?(media\.intan\.my|admin\.media\.intan\.my)/ [NC]
RewriteRule .* - [F]